@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {
    font-family: 'Noto Sans KR', monospace;
    font-size: 16px;
    margin: 0 auto;
}

body {
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
}

h1 {
    font-size: 27px;
}

h2 {
    font-weight: 300;
    font-size: 23px;
    margin: 0 auto;
}

h2 strong {
    font-weight: 900;
    color: rgb(187, 27, 27);
}

h3 {
    font-weight: 200;
    font-size: 17px;
    margin: 0 auto;
    line-height: 1.6em;
}

h3 strong {
    font-weight: 550;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    height: 500px;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-right: 301px;
}

.wrapper:nth-child(1) {
    height: 620px;
}

.wrapper:nth-child(2) {
    background-color: white;
}

.wrapper h3 {
    text-align: center;
}

.wrapper h2 {
    padding-bottom: 30px;
}

.home__image {
    position: absolute;
    height: 500px;
    width: auto;
    bottom: 0;
    left: 10%;
    border-radius: 5% 5% 0% 0%;
    border: 1px solid rgb(200, 200, 200);
}

.home__greeting {
    position: absolute;
    top: 300px;
    left: 37%;
}

.home__description {
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

.home__login {
    background-color: white;
    position: fixed;
    border-left: .5px solid rgb(200, 200, 200);
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
}

.home__logo {
    width: 150px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 50px;
}

.home__login form {
    position: absolute;
    top: 220px;
    left: 50%;
}

.home__login form input {
    width: 240px;
    height: 40px;
    margin-left: -120px;
}

form input[type="submit"] {
    background-color: rgb(187, 27, 27);
    color: white;
}

.home__login button {
    position: absolute;
    top: 343px;
    left: 50%;
    background-color: white;
    color: rgb(187, 27, 27);
    width: 240px;
    height: 40px;
    margin-left: -120px;
}

.home__login a {
    position: absolute;
    top: 400px;
    right: 30px;
    font-size: 15px;
    color: rgb(150, 150, 150);
}

.signup__form {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -215px;
    padding-left: 1em;
    height: fit-content;
    width: 430px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
    background-color: white;
}

.signup__form input {
    margin-bottom: 1em;
    font-size: 17px;
    height: 1.7em;
    width: 400px;
    border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.5);
}

.signup__form input:focus {
    background-color: white;
    font-weight: 500;
}

.main__user__info {
    margin-top: 7em;
    position: absolute;
    left: 40px;
    top: 0;
    width: 180px;
    height: 375px;
    border: 1px solid rgb(150, 150, 150);
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.main__user__info img {
    position: absolute;
    top: 40px;
    width: 60px;
    height: auto;
    padding: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.main__user__info div {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(150, 150, 150);
    width: 175px;
}

.main__user__info div button {
    font-size: .8rem;
    margin: .2em;
}

.main__user__info ul {
    position: absolute;
    top: 265px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
}

.main__user__info ul li {
    padding: .2em;
}

.main__user__info ul li:hover {
    color: rgb(100, 100, 100);
    box-shadow: grey 0px 1px 0px 0px;
}

.info__nav {
    position: absolute;
    margin-top: 7em;
    left: 40px;
    width: 260px;
}

.info__nav div {
    border: .1em solid rgb(200, 200, 200);
    margin-bottom: .2em;
}

.info__nav ul {
    list-style: none;
    line-height: 2em;
}

.info__second {
    position: absolute;
    margin-top: 7em;
    left: 340px;
    right: 40px;
}

.information div {
    border: .1em solid rgb(200, 200, 200);
}

.information div:nth-child(2) {
    display: grid;
    grid-template-columns: 100px auto;
}

.information div span {
    display: block;
    align-self: center;
    margin: 0 auto;
    padding: .5em;
}

.information div span:nth-child(2n-1) {
    font-size: small;
    width: 80px;
    justify-self: self-end;
}

.information div span:nth-child(2n) {
    justify-self: start;
    width: 5fr;
}