<html>
<meta charset="utf-8" />
<title>에부리타임</title>
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />

<body>
    <header>
        <%- include ("./partials/header") %>
    </header>

    <main>
        <%- include ("./partials/user_info_nav") %>
            <div class="info__change info__second">
                <h2>개인정보 변경</h2>
                <form action="/user/profile/change" method="post">
                    <div>
                        <span>닉네임</span>
                        <input name="name" type="text" placeholder="<%=req.user.name%>" />
                    </div>
                    <div>
                        <span>이메일</span>
                        <input name="email" type="email" placeholder="<%=req.user.email%>" disabled />
                    </div>
                    <div>
                        <span>현재 비밀번호</span>
                        <input name="password" type="password" />
                    </div>
                    <div>
                        <span>광고성 정보 수신 동의</span> <input type="checkbox" />
                        <h4>
                            영화/전시 초대 이벤트, 대학생 특별 할인 혜택 등 다양한 이벤트 및 정보를 서비스에서 만나보실 수 있습니다.
                        </h4>
                        <ul>
                            <li>항목 : 마케팅 수신 동의</li>
                            <li>목적 : 서비스 및 이벤트 정보 안내</li>
                            <li>기간 : 탈퇴 후 최대 1년</li>
                        </ul>
                    </div>
                    <p style="text-align: right; padding-bottom: 1em;">
                        <span style="color: rgb(187, 27, 27);">※ 닉네임을 변경하면 30일간 다시 변경할 수 없습니다.</span
            >
            <input type="submit" value="개인정보 변경" style="height: 2em;" />
          </p>
        </form>
      </div>
    </main>
    <script src="/scripts/get_board_list.js"></script>
  </body>
</html>