<html>
<meta charset="utf-8" />
<title>에부리타임</title>
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />

<body>
    <header>
        <%- include ("./partials/header") %>
    </header>
    <main>
        <div class="main__user__info">
            <img src="/images/profile.jpg" />
            <div>
                <p>
                    <%=req.user.name%>
                </p>
                <p style="font-size: 0.8em; color: grey;">
                    <%=req.user.undergrad_in%>학번
                </p>
                <p style="font-size: 0.8em; color: grey;">
                    <%=req.user.email%>
                </p>
                <button onclick="location.href='/user/profile/'">내 정보</button>
                <button onclick="location.href='/user/logout'">로그아웃</button>
            </div>
            <ul>
                <li><a href="/posting/create">내가 쓴 글</a></li>
                <li>댓글 단 글</li>
                <li>스크랩</li>
            </ul>
        </div>
        <div class="main__board__list">
            <div class="main__board">
                <h1 onclick="location.href='/posting/'">인사캠 자유게시판</h1>
                <div>
                    <span class="main__board__title">금융권 희망하시는 분들</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">대학원 질문</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">글경 선배님들..</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">다이어트식단</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">배고프다ㅜㅜ</span>
                    <span class="main__board__time">2분 전</span>
                </div>
            </div>
            <div class="main__board">
                <h1>자과캠 자유게시판</h1>
                <div>
                    <span class="main__board__title">금융권 희망하시는 분들</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">대학원 질문</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">글경 선배님들..</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">다이어트식단</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">배고프다ㅜㅜ</span>
                    <span class="main__board__time">2분 전</span>
                </div>
            </div>
            <div class="main__board">
                <h1>브로리에게 물어봐</h1>
                <div>
                    <span class="main__board__title">금융권 희망하시는 분들</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">대학원 질문</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">글경 선배님들..</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">다이어트식단</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">배고프다ㅜㅜ</span>
                    <span class="main__board__time">2분 전</span>
                </div>
            </div>
            <div class="main__board">
                <h1>정보게시판</h1>
                <div>
                    <span class="main__board__title">금융권 희망하시는 분들</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">대학원 질문</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">글경 선배님들..</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">다이어트식단</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">배고프다ㅜㅜ</span>
                    <span class="main__board__time">2분 전</span>
                </div>
            </div>
            <div class="main__board">
                <h1>취업/진로</h1>
                <div>
                    <span class="main__board__title">금융권 희망하시는 분들</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">대학원 질문</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">글경 선배님들..</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">다이어트식단</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">배고프다ㅜㅜ</span>
                    <span class="main__board__time">2분 전</span>
                </div>
            </div>
            <div class="main__board">
                <h1>동아리/학회</h1>
                <div>
                    <span class="main__board__title">금융권 희망하시는 분들</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">대학원 질문</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">글경 선배님들..</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">다이어트식단</span>
                    <span class="main__board__time">방금</span>
                </div>
                <div>
                    <span class="main__board__title">배고프다ㅜㅜ</span>
                    <span class="main__board__time">2분 전</span>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/get_board_list.js"></script>
</body>

</html>