<html>
<meta charset="utf-8" />
<title>에부리타임</title>
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

<body>
    <header>
        <%- include ("./partials/header") %>
    </header>

    <main>
        <div class="post__form">
            <form method="post" action="/posting/create/">
                <input name="title" type="text" placeholder="글 제목" autofocus /><br />
                <textarea name="content" placeholder="여기를 눌러서 글을 작성할 수 있습니다. 
1. 홍보 게시물 작성 금지
2. 정당, 정치인, 선거 후보자 및 관련자에 대한 비방, 비하, 모욕
3. 커뮤니티 이용규칙에 어긋나는 행위 금지"></textarea>
                <div>
                    <button><i class="fas fa-hashtag"></i></button>
                    <button><i class="fas fa-paperclip"></i></button>
                    <input name="ifAnonymous" type="checkbox" value="익명" /> 익명
                    <input type="submit" value="글쓰기" />
                </div>
            </form>
        </div>
    </main>
    <script src="/scripts/get_board_list.js"></script>
</body>

</html>