<html>
<meta charset="utf-8" />
<title>에부리타임</title>
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />

<body>
    <header>
        <%- include ("./partials/header") %>
    </header>

    <main>
        <%- include ("./partials/user_info_nav") %>
            <div class="information info__second">
                <div style="padding: 0.8em;">
                    <h2>기본 정보</h2>
                </div>
                <div>
                    <span>사진</span>
                    <img src="/images/profile.jpg" style="width: 4em; height: auto; padding: 0.3em; margin-left: 1em;" />
                    <span>아이디</span>
                    <span>1106ksj</span>
                    <span>이름</span>
                    <span>김서진</span>
                    <span>닉네임</span>
                    <span>컴교서진</span>
                    <span>이메일</span>
                    <span>1106laura@naver.com</span>
                    <span>학교</span>
                    <span>성균관대학교</span>
                </div>
            </div>
    </main>
    <script src="/scripts/get_board_list.js"></script>
</body>

</html>